<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eagles Schedule</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="score.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>
<body>
    <div id="app">
       <table>
           <tr class=header1>
               <th>Week</th>
               <th>Away</th>
               <th>Home</th>
               <th>Date</th>
               <th>Final Score</th>
               <th>W-L</th> 
           </tr>
           <tr>
                <th>Week 1</th>
                <th>Falcons</th>
                <th>{{philly}}</th>
                <th>Thurs. 9/6 - 7:30pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 2</th>
                <th>{{philly}}</th>
                <th>Buccaneers</th>
                <th>Sun. 9/16 - 1:00pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 3</th>
                <th>Colts</th>
                <th>{{philly}}</th>
                <th>Sun. 9/23 - 1:00pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 4</th>
                <th>{{philly}}</th>
                <th>Titans</th>
                <th>Sun. 9/30 - 1:00pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 5</th>
                <th>Vikings</th>
                <th>{{philly}}</th>
                <th>Sun. 10/7 - 4:25pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 6</th>
                <th>{{philly}}</th>
                <th>Giants</th>
                <th>Thurs. 10/11 - 8:20pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 7</th>
                <th>Panthers</th>
                <th>{{philly}}</th>
                <th>Sun. 10/21 - 1:00pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 8</th>
                <th>{{philly}}</th>
                <th>Jaguars</th>
                <th>Sun. 10/28 -9:30am(London)</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 9</th>
                <th>Bye week</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
                <th>Week 10</th>
                <th>Cowboys</th>
                <th>{{philly}}</th>
                <th>Sun. 11/11 - 8:20pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 11</th>
                <th>{{philly}}</th>
                <th>Saints</th>
                <th>Sun. 11/18 - 1:00pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 12</th>           
                <th>Giants</th>
                <th>{{philly}}</th>
                <th>Sun. 11/25 - 1:00pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 13</th>        
                <th>Redskins</th>
                <th>{{philly}}</th>
                <th>Mon. 12/3 - 8:15pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 14</th>
                <th>{{philly}}</th>
                <th>Cowboys</th> 
                <th>Sun. 12/9 - 4:25pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 15</th>
                <th>{{philly}}</th>
                <th>Rams</th>     
                <th>Sun. 12/16 - 8:20pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 16</th>
               
                <th>Texans</th>
                <th>{{philly}}</th>
                <th>Sun. 12/23 - 1:00pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>
           <tr>
                <th>Week 17</th>
                <th>{{philly}}</th>
                <th>Redskins</th>
                <th>Sun. 12/30 - 1:00pm</th>
                <th>0-0</th>
                <th>0-0</th>
           </tr>


       </table>
         
    </div>

    <script src="eagles.js"></script>
</body>
</html>