body{
    background-image: url(field.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    font-family: 'Lato', sans-serif;

   
}
.header1{
    background-color:white;
    font-size:1.5em;
}
table{
    margin:0 auto;
    background-color:gray;
    opacity:.9
}
th{
    margin-right:15px;
}